#
# Samsung Exynos 7870 - Kernel Configuration Fragment
#
# This config fragment enables support for drivers available downstream, or
# enables upstream drivers required by downstream devices.
#
CONFIG_LOCALVERSION="-exynos7870"

#
# Simple Framebuffer DRM Support
#   >> drivers >> gpu >> drm >> tiny
#
CONFIG_DRM_SIMPLEDRM=m

#
# Touchscreens
#   >> drivers >> input >> touchscreen
#
CONFIG_TOUCHSCREEN_IMAGIS=m

#
# Power Supply
#   >> devices >> power >> supply
#
# CONFIG_BATTERY_S2MU005 is not set
CONFIG_BATTERY_SM5703=m

#
# Persistent Store
#   >> fs >> pstore
#
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
